	#container{
			background-color: black;
			width: 100%;
			height: 2px;
			font-size: 12px;
		}
		#container a{
			color: white;
			text-decoration: none;
		}

	
	#topper{
			background-color: black;
			color: white;
			width: 100%;
			height: 150px;
			padding-top: 0.5px;
		}
		h1{
			color: white;
			font-size: 48px;
			text-align: center;

		}
		h5{
			color: white;
			text-align: center;
			font-size: 12px;
		}
	

	#med{
			background-color: red;
			width: 100%;
			height: 20px;
			font-size: 18px;
			text-align: left;

		}
	#med a{
		color: white;
		text-decoration: none;
		font-weight: bold;

	}
	a:hover{
	padding: 8px;
	font-weight: bolder;
	transition: 2ms ease-out;
}

	#mid2{
		border-bottom: 2px solid black;
	}

	#news{
		float: left;
	 	}
	 img{
	 	float: left;
	 	padding-top: 10px;
	 }
	h3{
	 	float: left;

	 }
	p{
		float: left;

	}

	#md{
		border-bottom: 2px solid black;
	}

	#news2{
		float: left;
	 	}
	 img{
	 	float: left;
	 	padding-top: 10px;
	 }
	h3{
	 	float: left;

	 }
	 p{
		float: left;

	}
	 

	 #news3{
		float: left;
	 	}
	 img{
	 	float: left;
	 	padding-top: 10px;
	 }
	h3{
	 	float: left;


	 }
	p{
		float: left;

	}
	 #news4{
		float: left;
	 	}
	 img{
	 	float: left;
	 	padding-top: 10px;
	 }
	h3{
	 	float: left;

	 }
	p{
		float: left;

	}
	 #news5{
		float: left;
	 	}
	 img{
	 	float: left;
	 	padding-top: 10px;
	 }
	h3{
	 	float: left;

	 }
	p{
		float: left;

	}
.con{
		max-width: 1500px;
		background-color: #24262b;
		margin: auto;
	}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
		padding: 550px 0;
	}
.footer-col{
	width: 25%;
	padding: 0 15px;

	}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
}
a{
	color: white;
	text-decoration: none;
}

}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;

}

